:root{
    --preto1:  background-color: rgb(0, 0, 0);
    --azul1:background-color: rgb(33, 33, 61);
    --amarelo1: background-color: rgb(252, 163, 17);
    --cinza1: background-color: rgb(229, 255, 255);
    --branco1: background-color: rgb(255, 255, 255);

    --preto2: background-color: rgb(35, 35, 35);
    --azul2:  background-color: rgb(52, 52, 94);
    --amarelo2: background-color: rgb(185, 114, 27);
    --cinza2: background-color: rgb(184, 184, 184);

    --fonte1:
    --fonte2:
    --fonte3:



}
.bg-grey{
    background-color: rgb(184, 184, 184)
}



.bg-g{
    background-color: rgb(211, 168, 168)
}
